/* 
Which font to use?

- inter-{thin => black}:
  tiêu đề, không chân

- pt-serif-{regular / bold}:
  trang trọng, có chân

- montserrat-{thin => black}:
  chữ giãn dài, không chân

- reddit-{extralight => black}
  chữ tròn dễ đọc, general purpose

- shantell-sans-{light => extrabold}:
  poetic, bay bướm, user reviews, ...

- national-park-{extralight => extrabold}: 
  văn bản dài, chữ co ngắn, không chân

- special-gothic-expanded-one-regular:
  font thương hiệu QAirline
*/


.inter-thin {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.inter-extralight {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.inter-light {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.inter-extrabold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.inter-black {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-thin {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.montserrat-extralight {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.montserrat-light {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.montserrat-semibold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.montserrat-extrabold {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.montserrat-black {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.shantell-sans-light {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
}

.shantell-sans-regular {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
}

.shantell-sans-medium {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
}

.shantell-sans-semibold {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
}

.shantell-sans-bold {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
}

.shantell-sans-extrabold {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
}

.national-park-extralight {
  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.national-park-light {
  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.national-park-regular {
  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.national-park-medium {
  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.national-park-semibold {
  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.national-park-bold {
  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.national-park-extrabold {
  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.reddit-extralight {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.reddit-light {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.reddit-regular {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.reddit-medium {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.reddit-semibold {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.reddit-bold {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.reddit-extrabold {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.reddit-black {
  font-family: "Reddit Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
