@import "tailwindcss";
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
/* @import "tailwindcss/preflight.css" layer(base); */
@import "tailwindcss/utilities.css" layer(utilities);

@layer components {
  .dropdown-content {
    @apply  absolute min-w-full flex flex-col items-center 
            p-1 mt-0.5 bg-white shadow-md max-h-[40vh] overflow-y-scroll
            opacity-0; 
  }

  .dropdown-content {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .dropdown-content::-webkit-scrollbar {
    display: none;
  }

  .content-open {
    @apply opacity-100;
  }
}